body{
    background-color: #f1f1f1;
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
    overflow-y:scroll;
}

.top-nav{
    margin: 0;
    position: sticky;
    top: 0;
    box-shadow: 0px -1em 2em #000000;
}

.top-nav ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
    background-color: #3c3c3c;
    width: 100%;
}

.top-nav ul li h1{
    float: left;
    color: #FFFFFF;
    text-align: center;
    display: block;
    margin: 0;
    padding-top: 0.6em;
    padding-bottom: 0.5em;
}

.top-nav ul li img{
    float: left;
    display: block;
    height: 1.5em;
    padding: 1em;
}

.top-nav ul li a{
    float: right;
    height: 100%;
    color: #FFFFFF;
    font-size: 1em;
    text-align: center;
    text-decoration: none;
    display: block;
    padding-top: 1.1em;
    padding-bottom: 1.1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    transition: background-color 0.25s;
}

.top-nav ul li a:hover{
    background-color: #e30000;
    border-bottom: 3px solid #e30000;
}

.top-nav-active a{
    border-bottom: 3px solid #e30000;
}

.portfolio-article{
    padding: 0.25em;
}

.portfolio-article section{
    background-color: #ffffff;
    border-radius: 0.5em;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    box-shadow: 0 0 0.25em #4d4d4d;
    margin: 1em;
}

.portfolio-article section div{
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.portfolio-article section div img{
    display: block;
    float: left;
    height: 2em;
    padding-top: 1em;
    padding-right: 1em;
}

.portfolio-article section div img.about-image{
    height: 15.2em;
    padding: 0;
    margin-top: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    margin-left: 0.25em;
    border-radius: 0.5em;
    box-shadow: 0 0 0.25em #4d4d4d;
    border: 1px solid #8f8f8f;
}

.portfolio-article section div p{
    display: block;
    float: left;
    color: #606060;
    font-weight: 400;
}

.portfolio-article section div h2{
    display: block;
    float: left;
    margin-bottom: 0.5em;
}

.portfolio-article section ul{
    padding-left: 0;
    padding-right: 0;
}

.portfolio-article section ul li{
    list-style-type: none;
}

.portfolio-article section ul li a{
    color: #000000;
    transition: color 0.25s;
}

.portfolio-article section ul li a:hover{
    color: #e30000;
}

.portfolio-article section ul li p{
    text-align: justify;
    font-weight: 300;
    padding-bottom: 1em;
    color: #606060;
    border-bottom: 1px solid #c0c0c0;
}

footer h6{
    color: #a8a8a8;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 2em;
}